//-The layout into which this page will be injected
extends layout

//-creates a content variable, everything below this will be injected into the layout
block content
  // Pug flavored markup
  h1= title
  p Welcome to #{title}