//-standard markup
doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    //-the content block of index.pug will be injected here.
    block content